#wrapper {
    width: 80%;
    overflow: auto;
}
#input {
    width: 50%;
    float:left; /* add this */
    border: 1px solid black;
}
#info {
    width: 40%;
    border: 1px solid black;
    overflow: auto;
}
