#wrapper {
    width: 100%;
    height: 40%;
    display: inline-block;
}
#input {
    width: 30%; 
    left: 35%;
    position: absolute;
    display: inline-block;
    border: 1px solid black;
}
#info {
    width: 15%;
    right:80%;
    position: absolute;
    display: inline-block;
    border: 1px solid black;
}

.clickable:hover {
	cursor: pointer;
  -webkit-transform:scale(1.05,1.05) rotate(2deg);
	transform:scale(1.05,1.05) rotate(2deg);
}

.clickable:active {
	-webkit-transform:scale(0.8,0.8);
	transform:scale(0.8,0.8);
}

.button {
	display: block;
	border: 0px;
	font-family: "arial";
	padding: 7px 20px;
	margin: auto;
	cursor: pointer;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-property: transform;
	transition-property: transform;
	transition-duration: 0.1s;
}

.button:hover {
  -webkit-transform:scale(1.1,1.1) rotate(-3deg);
	transform:scale(1.1,1.1) rotate(-3deg);
}

.button:active {
	-webkit-transform:scale(0.8,0.8);
	transform:scale(0.8,0.8);
}

input[type=text] {
	padding: 8px 10%;
	border: 0px;
	font-family: "arial";
	display: block;
	margin: auto;
}

/*Everything above this was made by me */


