#wrapper {
    width: 800x;
    border: 1px solid black;
    overflow: auto;
}
#input {
    width: 350px;
    float:left; /* add this */
    border: 1px solid black;
}
#info {
    width: 200px
    border: 1px solid black;
    overflow: auto;
}
